slides-pptx/
/.m2/
build/
VideoGenToolSuite/bin/
!**/src/**/build
!**/xtend-gen/**/build
bin/
target/
.gradle/
*._trace
*.xtendbin
org.eclipse.buildship.core.prefs
/.DS_Store
VideoGenToolSuite/conf
.class
.settings/
.project/
.idea/
\.project
